table.tiles
{
    padding-left:3em;
}
table.tiles td{
    padding:0 0 0 0;
    margin:0 0 0 0;
    vertical-align: top;
    font-family: sans-serif;
    font-size: 25px;
}
table.tiles td span
{
    color:#000;
    text-shadow: 2px 2px 5px #000; /*CSS3*/
    -moz-text-shadow: 2px 2px 5px #000; /* Firefox用*/
    -webkit-text-shadow: 2px 2px 5px #000; /* Google Chrome, Safari用*/
}

table.samples
{
    padding-left:3em;
}

table.samples th
{
    background-color: #eee;
}
table.samples td
{
    text-align: center;
    background-color: #eee;
}
table.samples td img
{
    padding: 10px 10px 10px 10px;
}